sample/new/x.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="x">
        <complexType>
            <sequence>
                <xs:element name="a" type="xs:int"/>
                <xs:element name="b" type="xs:varchar"/>
                <xs:element name="c" type="xs:int"/>
            </sequence>
        </complexType>
    </xs:element>
</xs:schema>
